.formulario-presupuesto{
    background-image: url(../imagenes/banner2.png);
    background-size: cover;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding: 4em;
    border-radius:1em; 
    box-shadow: 5px 5px 15px 5px #DCA3AB;    
}

.row {
    padding: 0.5em;
}

.form-control, .form-select {
    font-family:'Amatic SC', cursive; 
    background-color:rgba(241, 206, 241, 0.25);
    border: 1px solid #a4ac94; 
    text-transform: uppercase;
    letter-spacing: .1em;
}

.span-form {
    font-family:'Amatic SC', cursive; 
    font-size: 1.2em;
    letter-spacing: .1em;
}

.btn{
    font-family:'Amatic SC', cursive; 
    color: rgb(255, 255, 255);
    letter-spacing: .2em;
    background-color: $color-naranja;
    border-color: $color-cemento;  
    
}

.btn:hover{
    background-color: $color-verde;   
}


// estilos ventana presupuesto
.d-none {
    display: none;
}

.modal-formulario {
    background-color: rgba(0, 0, 0, 0.719);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
}


.contenedor-formulario{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
}

.contenedor-modal{
    background-color: $color-cemento;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}

.cerrar-form {
    padding: 10px;
}

.mensaje h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.mensaje {
    padding: 1rem;
}

.boton-mensaje{
    padding: 1rem;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.5em;
    background-color: #00bb2d ;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: rgb(255, 255, 255);
}

