.estadia{
    animation-delay: 0.3s;
    animation-duration: 4s;
	background-color: $color-celestefondo;
}

.contenedor-estadia{
    padding: 5em 5em 10em;
	background-color: $color-celestefondo;
}

.reservar-estadia{
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;  
    padding: 2em 0 1em;
    text-align: center;
}

.intro-reservas{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: normal;
}




// tarjetas aleatorias


.tarjetas-aleatorias{
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0;
    padding-top: 2em;
}

.titulo-tj{
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;  
    text-align: center;
    padding: 1.5em;
}

.resultados {
	display: flex;
	align-items: center;
	justify-content: center;
}

.resultado {
	background-color: rgb(247, 217, 217);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 300px;
	width: 200px;
}

.resultado img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.botones-tj {
	display: flex;
	align-items: center;
	justify-content: center;
}
.texto-tj{
	font-family: 'Amatic SC', cursive;
}

.boton-gato, .boton-perro{
	background-color: $color-verde;
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	padding: 10px;
	margin: 10px;
	width: 200px;
}

