.contenedor-estadia{
    padding: 1em 7em;
}

.reservar-estadia{
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;  
    padding: 2em 0 1em;
    text-align: center;
}

.intro-reservas{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: normal;
}

.estadia{
    animation-delay: 0.5s;
    animation-duration: 4s;
}